# Environment
DATABASE_URL=postgres://vwadmin:YOUR_PASSWORD_HERE@vw-db-dev.postgres.database.azure.com:5432/vibewarehouse?sslmode=require
SECRET_KEY=p0=34pz2tnwjxhi7w$^c)z4c163kfvp7yy&oie3hwp#^&j52$^
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
