{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "HelloFlex API",
    "description": "[Get Started](/docs/get_started)\u003Cbr/\u003E[Webhooks integration](/docs/webhooks)\u003Cbr/\u003E[Employer address operations](/docs/employer_address_operations)\u003Cbr/\u003E**!** Rate limiting of API is 2 concurrent requests and 5 requests in 100 ms at maximum. A request will be aborted when the rate limits are exceeded."
  },
  "host": "api.helloflex.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List Activities",
        "description": "Returns activities for Customer",
        "operationId": "Activities_GetList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "String value for search by activity title name and description., Max. length : 128",
            "required": false,
            "type": "string"
          },
          {
            "name": "entityStateIds",
            "in": "query",
            "description": "You can find possible values at GET api/domainTypes/927/domainValues. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "priorityIds",
            "in": "query",
            "description": "You can find possible values at GET api/domainTypes/926/domainValues. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "typeIds",
            "in": "query",
            "description": "You can find possible values at GET api/domainTypes/918/domainValues. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "subjectIds",
            "in": "query",
            "description": "You can find possible values at GET api/domainTypes/865/domainValues. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ownerUserGuids",
            "in": "query",
            "description": "You can find possible values at GET /api/agencies/{agencyGuid}/contactperson, GET /api/employers/{employerGuid}/contactpersons or GET /api/candidates. You can enter a comma separated list of values.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "assigneeTypeId",
            "in": "query",
            "description": "1 = User, 2 = Department, 3 = Agency.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "assignedUserGuids",
            "in": "query",
            "description": "You can find possible values at GET /api/agencies/{agencyGuid}/contactperson, GET /api/employers/{employerGuid}/contactpersons or GET /api/candidates. You can enter a comma separated list of values.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "departmentIds",
            "in": "query",
            "description": "You can find possible values at GET api/domainTypes/930/domainValues. You can enter a comma separated list of values.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "agencyGuids",
            "in": "query",
            "description": "You can find possible values at GET /api/agencies. You can enter a comma separated list of values.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "dueDateFrom",
            "in": "query",
            "description": "DateTime value. Get activities with due date after the specified date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dueDateTo",
            "in": "query",
            "description": "DateTime value. Get activities with due date before the specified date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Boolean value. Get archived activities.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "lastUpdatedDateTimeUtcFrom",
            "in": "query",
            "description": "DateTime value. Get activities from last updated date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of activities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create Activity",
        "description": "Create an activity, based on typeId. To add an activity for a specific entity, such as ‘Candidate’ or ‘Employer’, please use both entityGuid and entityTypeId.",
        "operationId": "Activities_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityAddRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully",
            "schema": {
              "$ref": "#/definitions/AddResponse"
            },
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/activities/{activityGuid}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Activity details",
        "description": "Returns Activity by Guid",
        "operationId": "Activities_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "activityGuid",
            "in": "path",
            "description": "Guid of Activity",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Activity details",
            "schema": {
              "$ref": "#/definitions/ActivityDetailsResponse"
            }
          },
          "404": {
            "description": "Activity with specified Guid was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Activities"
        ],
        "summary": "Update activity",
        "description": "Update activity",
        "operationId": "Activities_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "activityGuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Updated successfully"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/agencies": {
      "get": {
        "tags": [
          "Agencies"
        ],
        "summary": "List Agencies",
        "description": "Returns agencies for Customer",
        "operationId": "Agencies_GetList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entityStateIds",
            "in": "query",
            "description": "Integer collection for State of Agency. For getting available number you can find appropriate type at api/domainTypes GET and use it to find values at api/domainValues GET. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "organizationTypeIds",
            "in": "query",
            "description": "Integer collection for OrganizationTypes of Agency. For getting available number you can find appropriate type at api/domainTypes GET and use it to find values at api/domainValues GET. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "search",
            "in": "query",
            "description": "String value for search by agency name., Max. length : 128",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastUpdateDateUtcFrom",
            "in": "query",
            "description": "DateTime value. Get agency from last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "lastUpdateDateUtcTo",
            "in": "query",
            "description": "DateTime value. Get agency to last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of agencies",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgencyListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Agencies"
        ],
        "summary": "Agencies Registration",
        "description": "Register agencies",
        "operationId": "Agencies_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgencyAddRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registered succesfully",
            "schema": {
              "$ref": "#/definitions/AddResponse"
            },
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/agencies/{agencyGuid}": {
      "get": {
        "tags": [
          "Agencies"
        ],
        "summary": "Agency Detail",
        "description": "Returns agency detail by GUID",
        "operationId": "Agencies_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "description": "GUID of Agency",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns agency detail",
            "schema": {
              "$ref": "#/definitions/AgencyDetailResponse"
            }
          },
          "404": {
            "description": "Agency with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Agencies"
        ],
        "summary": "Agencies Update",
        "description": "Updating entity agency via JSON Patch standart.",
        "operationId": "Agencies_Patch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "description": "Guid of Agency",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Supported operations: add, replace, copy, move, remove",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument%5BAgencyUpdateRequest%5D"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agency has been successfully updated"
          },
          "404": {
            "description": "Agency with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/agencies/{agencyGuid}/contactpersons": {
      "get": {
        "tags": [
          "Agencies \u003E Contact Persons"
        ],
        "summary": "List Agency Contact Persons",
        "description": "Returns contact persons for agency",
        "operationId": "AgencyContactPerson_GetContactPersons",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "description": "GUID of agency",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search field. You can search by contact person name/email",
            "required": false,
            "type": "string"
          },
          {
            "name": "entityStateIds",
            "in": "query",
            "description": "Integer collection for `user state` of Agency Contact Person. For getting available values use `GET api/domainTypes/872/domainValues`. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contactPersonEntityStateIds",
            "in": "query",
            "description": "Integer collection for `state` of Agency Contact Person. For getting available values use `GET api/domainTypes/962/domainValues`. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "lastUpdateDateUtcFrom",
            "in": "query",
            "description": "DateTime value. Get contact person from last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "lastUpdateDateUtcTo",
            "in": "query",
            "description": "DateTime value. Get contact person to last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of agency contact persons",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgencyContactPersonListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Agency with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Agencies \u003E Contact Persons"
        ],
        "summary": "Agency Contact Person Add",
        "description": "Create agency contact person",
        "operationId": "AgencyContactPerson_PostContactPerson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgencyContactPersonAddRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created succesfully",
            "schema": {
              "$ref": "#/definitions/AddResponse"
            },
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Agency with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/agencies/{agencyGuid}/contactpersons/{contactPersonGuid}": {
      "get": {
        "tags": [
          "Agencies \u003E Contact Persons"
        ],
        "summary": "Agency Contact Person Detail",
        "description": "Returns contact person for agency by GUID",
        "operationId": "AgencyContactPerson_GetContactPerson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "description": "GUID of agency",
            "required": true,
            "type": "string"
          },
          {
            "name": "contactPersonGuid",
            "in": "path",
            "description": "GUID of agency contact person",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns contact person details",
            "schema": {
              "$ref": "#/definitions/AgencyContactPersonDetailsResponse"
            }
          },
          "404": {
            "description": "Agency or Contact person with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Agencies \u003E Contact Persons"
        ],
        "summary": "Agency Contact Persons Update",
        "description": "Updating contact persons for agency via JSON Patch standart.",
        "operationId": "AgencyContactPerson_PatchContactPerson",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "description": "Guid of Agency",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "contactPersonGuid",
            "in": "path",
            "description": "Guid of Contact Person",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Supported operations: add, replace, copy, move, remove",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument%5BAgencyContactPersonUpdateRequest%5D"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact persons for agency has been successfully updated"
          },
          "404": {
            "description": "Agency or contact person with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/agencies/contactpersons": {
      "get": {
        "tags": [
          "Agencies \u003E Contact Persons"
        ],
        "summary": "List Contact Persons of all agencies",
        "description": "Returns contact persons for all agencies",
        "operationId": "AgencyContactPerson_GetAllContactPersons",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search field. You can search by contact person name/email",
            "required": false,
            "type": "string"
          },
          {
            "name": "entityStateIds",
            "in": "query",
            "description": "Integer collection for `user state` of Agency Contact Person. For getting available values use `GET api/domainTypes/872/domainValues`. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contactPersonEntityStateIds",
            "in": "query",
            "description": "Integer collection for `state` of Agency Contact Person. For getting available values use `GET api/domainTypes/962/domainValues`. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "lastUpdateDateUtcFrom",
            "in": "query",
            "description": "DateTime value. Get contact person from last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "lastUpdateDateUtcTo",
            "in": "query",
            "description": "DateTime value. Get contact person to last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of contact persons",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AgenciesContactPersonListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List Applications",
        "description": "Returns applications for Agency",
        "operationId": "Applications_GetList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "whatSearch",
            "in": "query",
            "description": "Job title or applicant name or applicant email or source. You can enter a string with max length 128 chars , Max. length : 128",
            "required": false,
            "type": "string"
          },
          {
            "name": "jobGuids",
            "in": "query",
            "description": "Guid collection for Jobs of Application. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "agencyGuids",
            "in": "query",
            "description": "Guid collection for Agencies of Job. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "employerGuids",
            "in": "query",
            "description": "Guid collection for Employers of Job. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "candidateGuids",
            "in": "query",
            "description": "Guid collection for Candidates of Application. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "entityStateIds",
            "in": "query",
            "description": "Integer collection for State of Application. For getting available number you can find appropriate type at api/domainTypes GET and use it to find values at api/domainValues GET. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "lastUpdateFrom",
            "in": "query",
            "description": "DateTime value. Get application from last updated date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "lastUpdateTo",
            "in": "query",
            "description": "DateTime value. Get application to last updated date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of applications",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Application Registration",
        "description": "Register application",
        "operationId": "Applications_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationAddRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registered succesfully",
            "schema": {
              "$ref": "#/definitions/AddResponse"
            },
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/applications/{applicationGuid}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Application Detail",
        "description": "Returns application detail by Id",
        "operationId": "Applications_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "applicationGuid",
            "in": "path",
            "description": "Guid of Application",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns application detail",
            "schema": {
              "$ref": "#/definitions/ApplicationDetailsResponse"
            }
          },
          "404": {
            "description": "Application with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Applications"
        ],
        "summary": "Applications Update",
        "description": "Updating entity application via JSON Patch standart.",
        "operationId": "Applications_Patch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "applicationGuid",
            "in": "path",
            "description": "Guid of Application",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Integer collection for State of Application. For getting available number you can find appropriate type at api / domainTypes GET and use it to find values at api / domainValues GET.You can enter a comma separated list of values.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument%5BApplicationUpdateRequest%5D"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Application has been successfully updated"
          },
          "404": {
            "description": "Application with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "List Candidates",
        "description": "Returns candidates for Customer",
        "operationId": "Candidates_GetList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "entityStateIds",
            "in": "query",
            "description": "Integer collection for State of Candidate. For getting available number you can find appropriate type at api/domainTypes GET and use it to find values at api/domainValues GET. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "agencyGuids",
            "in": "query",
            "description": "Guid collection for Agencies of Candidate. You can enter a comma separated list of values. ",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "search",
            "in": "query",
            "description": "String value for search by candidate name and email., Max. length : 128",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastUpdateDateUtcFrom",
            "in": "query",
            "description": "DateTime value. Get candidates from last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "lastUpdateDateUtcTo",
            "in": "query",
            "description": "DateTime value. Get candidates to last updated date. ",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "tagIds",
            "in": "query",
            "description": "Integer collection for TagIds of Candidate. You can enter a comma separated list of values. For getting available number see at /docs/index#!/Tags/Tags_Get_0",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "candidateNumber",
            "in": "query",
            "description": "String value for search by candidate number, Max. length : 64",
            "required": false,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CandidateListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Candidates"
        ],
        "summary": "Candidate Registration",
        "description": "Register candidates",
        "operationId": "Candidates_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CandidateAddRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registered succesfully",
            "schema": {
              "$ref": "#/definitions/AddResponse"
            },
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "summary": "Candidate Detail",
        "description": "Returns candidate for Customer by guid",
        "operationId": "Candidates_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns candidate details",
            "schema": {
              "$ref": "#/definitions/CandidateDetailsResponse"
            }
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Candidates"
        ],
        "summary": "Candidates Update",
        "description": "For Updating Entity Candidates HTTP header for the message should always contain parameters 'op' and 'path' and optionally 'value' and 'from'.",
        "operationId": "Candidates_Patch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Supported operations: add, replace, copy, move, remove",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument%5BCandidateUpdateRequest%5D"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate has been successfully updated"
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/addresses": {
      "get": {
        "tags": [
          "Candidates \u003E Addresses"
        ],
        "summary": "List Candidate Addresses",
        "description": "Returns addresses of candidate",
        "operationId": "Candidates_GetAddresses",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "GUID of candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidate addresses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AddressResponse"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/addresses/{addressTypeId}": {
      "get": {
        "tags": [
          "Candidates \u003E Addresses"
        ],
        "summary": "Candidate Address Detail",
        "description": "Returns address of candidate by guid and address type",
        "operationId": "Candidates_GetAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of Candidate. For getting available number you should GET api/candidates/{candidateGuid}/addresses/",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns candidate address details",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "404": {
            "description": "Candidate with specified GUID or address type was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Candidates \u003E Addresses"
        ],
        "summary": "Candidate Address Update",
        "description": "Updating address of candidate",
        "operationId": "Candidates_PutAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of Candidate. For getting available number you should GET api/candidates/{candidateGuid}/addresses/",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserAddressUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate address has been successfully updated"
          },
          "404": {
            "description": "Candidate with specified GUID or address type was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Candidates \u003E Addresses"
        ],
        "summary": "Create Candidate address",
        "description": "Creation address of candidate",
        "operationId": "Candidates_PostAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of Candidate. You can find possible values at GET api/domainTypes/947/domainValues",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserAddressAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created succesfully",
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Candidates \u003E Addresses"
        ],
        "summary": "Delete candidate Address",
        "description": "Deleting address of candidate",
        "operationId": "Candidates_DeleteAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of Candidate. For getting available number you should GET api/candidates/{candidateGuid}/addresses/",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate address has been successfully updated"
          },
          "404": {
            "description": "Candidate with specified GUID or address type was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/bankaccounts": {
      "get": {
        "tags": [
          "Candidates \u003E Bank Accounts"
        ],
        "summary": "List Candidate Bank Accounts",
        "description": "Returns bank accounts of candidate",
        "operationId": "Candidates_GetBankAccounts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "GUID of candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidate bank accounts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BankAccountListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Candidates \u003E Bank Accounts"
        ],
        "summary": "Creation Candidate Bank Account",
        "description": "Creation bank account of candidate",
        "operationId": "Candidates_PostBankAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BankAccountAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created successfully",
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/bankaccounts/{bankAccountNumber}": {
      "get": {
        "tags": [
          "Candidates \u003E Bank Accounts"
        ],
        "summary": "Candidate Bank Account Detail",
        "description": "Returns bank account of candidate by guid and bank account number",
        "operationId": "Candidates_GetBankAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "GUID of candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "bankAccountNumber",
            "in": "path",
            "description": "Bank account number of candidate, Max. length : 35, Should be a valid IBAN : ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns candidate details",
            "schema": {
              "$ref": "#/definitions/BankAccountDetailsResponse"
            }
          },
          "404": {
            "description": "Candidate with specified GUID or bank account number was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Candidates \u003E Bank Accounts"
        ],
        "summary": "Candidate Bank Accounts Update",
        "description": "Updating bank accounts of candidate",
        "operationId": "Candidates_PutBankAccount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "bankAccountNumber",
            "in": "path",
            "description": "Bank account number of Candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BankAccountUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate bank account has been successfully updated"
          },
          "404": {
            "description": "Candidate with specified GUID or bank account number was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/companyaddresses": {
      "get": {
        "tags": [
          "Candidates \u003E Company Address"
        ],
        "summary": "List Candidate Company Addresses",
        "description": "Returns company addresses of self-employed candidate",
        "operationId": "Candidates_GetCompanyAddresses",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Self-employed Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of self-employed candidate company addresses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AddressResponse"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Self-employed candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/companyaddresses/{addressTypeId}": {
      "put": {
        "tags": [
          "Candidates \u003E Company Address"
        ],
        "summary": "Candidate Company Address Update",
        "description": "Updating company address of self-employed candidate",
        "operationId": "Candidates_PutCompanyAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Self-employed Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of self-employed candidate company address. You can use two address type: 1 - Main Address, 3 - Postal address",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserAddressUpdateRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Company address has been successfully updated"
          },
          "404": {
            "description": "Self-employed candidate with specified GUID or address type was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Candidates \u003E Company Address"
        ],
        "summary": "Create Candidate Company Address",
        "description": "Creation company address of self-employed candidate",
        "operationId": "Candidates_PostCompanyAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Self-employed Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of self-employed candidate company address. You can use two address type: 1 - Main Address, 3 - Postal address",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserAddressAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created successfully",
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Self-employed candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Candidates \u003E Company Address"
        ],
        "summary": "Delete Candidate Company Address",
        "description": "Deleting company address of self-employed candidate",
        "operationId": "Candidates_DeleteCompanyAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Self-employed Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "addressTypeId",
            "in": "path",
            "description": "Address type of self-employed candidate company address. You can use two address type: 1 - Main Address, 3 - Postal address.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "Company address has been successfully deleted"
          },
          "404": {
            "description": "Self-employed candidate with specified GUID or address type was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/pensionSchemes": {
      "get": {
        "tags": [
          "Candidates \u003E Pension Schemes"
        ],
        "summary": "List Candidate Pension Schemes",
        "description": "Returns pension schemes of candidate",
        "operationId": "Candidates_GetPensionSchemes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "GUID of candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidate pension schemes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PensionSchemeListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Candidates \u003E Pension Schemes"
        ],
        "summary": "Creation Candidate Pension Scheme",
        "description": "Creation pension scheme of candidate",
        "operationId": "Candidates_AddPensionScheme",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PensionSchemeAddRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created successfully",
            "schema": {
              "$ref": "#/definitions/AddResponse"
            },
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/pensionSchemes/{guid}": {
      "delete": {
        "tags": [
          "Candidates \u003E Pension Schemes"
        ],
        "summary": "Delete candidate Pension Scheme",
        "description": "Deleting pension scheme of candidate",
        "operationId": "Candidates_DeletePensionScheme",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "guid",
            "in": "path",
            "description": "Guid of Pension Scheme",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate pension scheme has been successfully deleted"
          },
          "400": {
            "description": "Pension scheme year less than current processing year"
          },
          "404": {
            "description": "Candidate or pension scheme with specified GUID was not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Candidates \u003E Pension Schemes"
        ],
        "summary": "Candidate Pension Scheme Update",
        "description": "Updating pension scheme of candidate via JSON Patch standart.",
        "operationId": "Candidates_PatchPensionScheme",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "guid",
            "in": "path",
            "description": "Guid of Pension Scheme",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Supported operations: add, replace, copy, move, remove",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument%5BPensionSchemeUpdateRequest%5D"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Pension scheme of candidate has been successfully updated"
          },
          "404": {
            "description": "Candidate or pension scheme with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/periodicalcomponents": {
      "get": {
        "tags": [
          "Candidates \u003E Periodical Components"
        ],
        "summary": "List Candidate Periodical Components",
        "description": "Returns periodical components of candidate",
        "operationId": "Candidates_GetPeriodicalComponents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "GUID of candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "agencyGuid",
            "in": "query",
            "description": "GUID of agency",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startDateFrom",
            "in": "query",
            "description": "DateTime value. Get candidate periodic components from start date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "startDateTo",
            "in": "query",
            "description": "DateTime value. Get candidate periodic components to start date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDateFrom",
            "in": "query",
            "description": "DateTime value. Get candidate periodic components from end date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDateTo",
            "in": "query",
            "description": "DateTime value. Get candidate periodic components to end date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "periodTypeId",
            "in": "query",
            "description": "Integer value for period type. For getting available IDs, use /DomainValues/DomainValues_Get_0, with domainValueTypeId = 929 and isActive = true",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidate periodical components",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PeriodicalComponentListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Candidates \u003E Periodical Components"
        ],
        "summary": "Creation Candidate Periodical Component",
        "description": "Creation periodical component of candidate",
        "operationId": "Candidates_PostPeriodicalComponent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeriodicalComponentAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created successfully",
            "headers": {
              "Location": {
                "description": "Url to created or updated entity",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Candidate with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/periodicalcomponents/{periodicalComponentGuid}": {
      "patch": {
        "tags": [
          "Candidates \u003E Periodical Components"
        ],
        "summary": "Candidate Periodical Component Update",
        "description": "Updating periodical component of candidate",
        "operationId": "Candidates_PatchPeriodicalComponent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "Guid of Candidate",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "periodicalComponentGuid",
            "in": "path",
            "description": "Guid of Periodical Component",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Supported operations: add, replace, copy, move, remove",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonPatchDocument%5BPeriodicalComponentUpdateRequest%5D"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Candidate periodical component has been successfully updated"
          },
          "404": {
            "description": "Candidate or periodical component with specified GUID was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/api/candidates/{candidateGuid}/taxResidenceAddresses": {
      "get": {
        "tags": [
          "Candidates \u003E Addresses"
        ],
        "summary": "List Candidate Tax Residence Addresses",
        "description": "Returns tax residence addresses of candidate",
        "operationId": "Candidates_GetTaxResidenceAddresses",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "candidateGuid",
            "in": "path",
            "description": "GUID of candidate",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidate tax residence addresses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxResidenceAddressResponse"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/candidates/periodicalcomponents/components/{agencyGuid}": {
      "get": {
        "tags": [
          "Candidates \u003E Periodical Components"
        ],
        "summary": "Component list items",
        "description": "Returns component items for a given agencyGuid",
        "operationId": "Candidates_GetComponents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "agencyGuid",
            "in": "path",
            "description": "Guid of Agency",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of Component items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PeriodicalComponentAddComponentItems"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/candidates/workedHours": {
      "get": {
        "tags": [
          "Candidates \u003E Worked Hours"
        ],
        "summary": "List Candidates Worked Hours",
        "description": "Returns candidates worked hours for Customer",
        "operationId": "Candidates_GetWorkedHours",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dateFrom",
            "in": "query",
            "description": "The contract start date should be greater than or equal. Defaults is today's date - 1 year",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": " The contract start date should be less or equal. Default is today's date",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "activeContract",
            "in": "query",
            "description": "Filter for active contracts. If true, only candidates with one or more active contracts will be included in the response. If false, all candidates will be included. Default is true",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip. The default is 0, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page. The default is 10, Min. value : 1, Max. value : 100",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 100,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of candidates worked hours",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CandidateWorkedHoursListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/caoinstances": {
      "get": {
        "tags": [
          "CaoInstances"
        ],
        "summary": "List CAOInstances",
        "description": "Returns CAOInstances",
        "operationId": "CaoInstances_GetList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "caoFirstLetter",
            "in": "query",
            "description": "First letter of CAO name. You can enter a single char.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sbiCode",
            "in": "query",
            "description": "SBI Code of CAO. You can enter string value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "isActualOnly",
            "in": "query",
            "description": "Boolean value which determines only actual CAOInstances. The default is false.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of CAOInstances",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaoInstanceListResponseItem"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/caoinstances/{id}": {
      "get": {
        "tags": [
          "CaoInstances"
        ],
        "summary": "CAOInstance Detail",
        "description": "Returns CAOInstance detail by id",
        "operationId": "CaoInstances_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of CAOInstance",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isNewsIncluded",
            "in": "query",
            "description": "Boolean value which determines to include news to CAOInstance detail response. The default is false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isWageChangesIncluded",
            "in": "query",
            "description": "Boolean value which determines to include wage changes to CAOInstance detail response. The default is false.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns CAOInstance detail",
            "schema": {
              "$ref": "#/definitions/CaoInstanceDetailsResponse"
            }
          },
          "404": {
            "description": "CAOInstance was not found"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/api/caonews": {
      "get": {
        "tags": [
          "CaoNews"
        ],
        "summary": "List CAONews",
        "description": "Returns CAONews",
        "operationId": "CaoNews_GetList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Quantity items to skip, Min. value : 0",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "take",
            "in": "query",
            "description": "Quantity items to take on the page, Min. value : 1",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list items of CAONews",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaoInstanceDetailsResponseNews"
              }
            },
            "headers": {
              "X-Total-Count": {
                "description": "Total count",
                "type": "integer"
              },
              "Link": {
                "description": "Url to previous and next item if available",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
[...]
